@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$color-red: hsl(0, 78%, 62%);
$color-cyan: hsl(180, 62%, 55%);
$color-orange: hsl(34, 97%, 64%);
$color-blue: hsl(212, 86%, 64%);

$color-very-dark-blue: hsl(234, 12%, 34%);
$color-grayish-blue: hsl(229, 6%, 66%);
$color-very-light-gray: hsl(0, 0%, 98%);

$animation-duration: 500ms;

@mixin slideInFromLeftanimation {
  animation: forwards slideInFromLeft $animation-duration linear;
  opacity: 0;
  transform: translateX(-5%);
}

@mixin calculateAnimationDelay($multiplyBy: 1) {
  animation-delay: $animation-duration * $multiplyBy;
}

@function toRem($value-in-pixels) {
  @return calc(#{$value-in-pixels}rem / 16);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: $color-very-light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: toRem(85);
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: toRem(78);
}

.header {
  max-width: toRem(540);
  text-align: center;
  &__heading {
    color: $color-very-dark-blue;
    font-size: toRem(24);
    font-weight: 200;
    letter-spacing: 0.17px;
    line-height: 140%;
    &--strong {
      font-weight: 600;
      @include slideInFromLeftanimation();
      @include calculateAnimationDelay(1);
    }
    @include slideInFromLeftanimation();
  }
  &__paragraph {
    margin-top: 1rem;
    color: transparentize($color-very-dark-blue, 0.5);
    font-size: toRem(15);
    font-weight: 400;
    line-height: toRem(25);
    letter-spacing: 0.1px;
    @include slideInFromLeftanimation();
    @include calculateAnimationDelay(2);
  }
}

main {
  margin-top: toRem(76);
}

.grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: toRem(25);
  &__double-row {
    display: flex;
    flex-direction: column;
    gap: toRem(25);
  }
  & > .card {
    align-self: center;
  }
}

.card {
  max-width: toRem(311);
  height: toRem(222);
  padding-top: toRem(27);
  padding-left: toRem(28);
  padding-right: toRem(28);
  padding-bottom: toRem(28);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5em;
  background-color: #fff;
  overflow: hidden;
  box-shadow: transparentize(#d6e0ee, 0.25) 0px toRem(14) toRem(28),
    transparentize(#d6e0ee, 0.22) 0px toRem(10) toRem(10);
  position: relative;
  @include slideInFromLeftanimation();
  &--2 {
    @include calculateAnimationDelay();
  }
  &--3 {
    @include calculateAnimationDelay(2);
  }
  &--4 {
    @include calculateAnimationDelay(3);
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: toRem(3.55);
  }
  &--red::after {
    background-color: $color-red;
  }
  &--cyan::after {
    background-color: $color-cyan;
  }
  &--orange::after {
    background-color: $color-orange;
  }
  &--blue::after {
    background-color: $color-blue;
  }
  &__heading {
    color: $color-very-dark-blue;
    font-size: toRem(20);
    font-weight: 600;
    letter-spacing: 0px;
  }
  &__paragraph {
    margin-top: 0.5rem;
    color: $color-very-dark-blue;
    opacity: 50%;
    font-size: toRem(13);
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: toRem(23);
  }
  &__image-container {
    align-self: flex-end;
  }
  &__img {
    width: toRem(57);
    height: auto;
  }
}

@media screen and (min-width: toRem(711)) and (max-width: toRem(1046)) {
  .grid {
    display: flex;
    flex-flow: row wrap;
    & > .card {
      align-self: unset;
    }
    &__double-row {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: toRem(1046)) {
  body {
    padding-top: toRem(80);
  }
  .header {
    &__heading {
      font-size: toRem(36);
      letter-spacing: 0.25px;
    }
  }
  main {
    margin-top: 4rem;
  }
  .grid {
    flex-direction: row;
    gap: toRem(30);
    &__double-row {
      display: flex;
      flex-direction: column;
      gap: toRem(30);
    }
  }
  .card {
    max-width: toRem(350);
    height: toRem(250);
    padding: 2em;
    padding-bottom: 1.5em;
    &::after {
      height: 0.25em;
    }
    &__img {
      width: 4em;
      height: auto;
    }
  }
}

@media screen and (min-width: 100em) {
  html {
    font-size: clamp(1em, 1em + 0.25vw, 1.25em);
  }
}

@media screen and (min-width: 200em) {
  html {
    font-size: clamp(1em, 1em + 1vw, 2em);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
